@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-width: 1350px;
    overflow: hidden;
}

.message-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: #000000;
    border: 1px solid #000000;
    display: none; 
    z-index: 1000; 
    color: #fff;

}

.message-text {
    margin: 0;
}

@media (max-width: 1200px) {

    body {
        overflow: hidden;
    }
    .container {
        display: none;
    }
    .message-box {
        color: #fff;
        width: 10000px;
        height: 10000px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
}


.container {
    min-height: 100vh;
    width: 100%;
    background-color: #485461;
    background: url("https://iili.io/dFJwhxe.md.jpg") repeat top center / cover;
    transform-style: preserve-3d;
}

.container.active .background {
    display: none;
    margin-top: -650px;
    z-index: -100;
    opacity: 0.4;
}
.container.active .row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}

.container.active .row:nth-child(even) {
    margin-left: 2px;
}

.container.active .hexagon { 
    width: 100px;
    height: 110px;
    margin: 2px;
    background-color: #111;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    animation: polygon-hover 4s linear infinite;
} 

@keyframes polygon-hover {
    0% {
        filter: hue-rotate(0deg);
    }    
    100% {
        filter: hue-rotate(360deg);
    }
}

.container.active .hexagon:hover{
    background-color: #0f0;
    transition: 0s;
}

.container.active .hexagon::after {
    content: '';
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    background-color: #111;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.container.active .hexagon::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.03);
    z-index: 2;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    height: 3rem;
}

.menu {
    max-width: 72rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.logo {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 4rem;
}

.logo span {
    font-weight: 300;
}

.hamburger-menu {
    height: 4rem;
    width: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bar {
    position: relative;
    width: 1.9rem;
    height: 1.5px;
    border-radius: 2px;
    background-color: #eee;
    transition: 0.5s;
}

.bar::before,
.bar::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #eee;
    transition: 0.5s;
}

.bar::before {
    transform: translateY(-9px);
}

.bar::after {
    transform: translateY(9px);
}

.main {
    position: relative;
    width: 100%;
    left: 0;
    z-index: 5;
    background-color: #eee;
    overflow-x: hidden;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: 0.5s;
    pointer-events: none;
}



.header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url("https://iili.io/dFJwhxe.md.jpg") no-repeat top center / cover;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(43, 51, 59, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    max-width: 100%;
    text-align: center;
    color: #fff;
    padding: 0 2rem;
}

.title {
    font-size: 2.7rem;
}

.btn {
    line-height: 80px;
    margin-top: 2rem;
    padding: 0.6rem 1.8rem;
    background-color: #1179e7;
    border: none;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}

.container.active .bar {
    transform: rotate(360deg);
    background-color: transparent;
}

.container.active .bar::before {
    transform: translateY(0) rotate(45deg);
}

.container.active .bar::after {
    transform: translateY(0) rotate(-45deg);
}

.links {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 2;
}

ul {
    list-style: none;
}

.links a {
    text-decoration: none;
    color: #eee;
    padding: 0.7rem 0;
    display: inline-block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(10px);
    animation: hide 0.5s forwards ease;
}

.links a:hover {
    color: #29a2f3;
}

.container.active .links a {
    animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hide {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform-origin: left;
    transition: 0.5s;
    background-color: #fff;
}

.container.active .shadow {
    cursor: pointer;
}

.skills-container {
    z-index: -1;
    opacity: 0.8;
    pointer-events: none;
}

.projects-container {
    z-index: -2;
    opacity: 0.6;
}

.contact-section-container {
    z-index: -3;
    opacity: 0.5;
}

.container.active .main {
    animation: 0.5s ease;
    cursor: pointer;
    transform: perspective(1300px) rotateY(20deg) translateZ(405px) scale(0.5);
}

.container.active .skills-container {
    animation: 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

.container.active .projects-container {
    animation: projects-section 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

.container.active .contact-section-container {
    animation: contact-section 0.6s ease-out;
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}


#clock {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 480px;
    margin-right: 150px;
}

#hrDots,
#minDots,
#secDots {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    rotate: 90deg;
}

#hrDots::before,
#minDots::before,
#secDots::before {
    content: '';
    position: absolute;
    inset: -10px;
    border-radius: 50%;
    box-shadow: 12.5px 12.5px 37.5px rgba(0,0,0,0.25),
    5px 5px 35px rgba(0,0,0,0.25),
    inset 2.5px 2.5px 5px rgba(0,0,0,0.5),
    inset 2.5px 2.5px 10px rgba(255,255,255,0.2),
    inset -2.5px -2.5px 7.5px rgba(0,0,0,0.75);
}

#hrDots h2,
#minDots h2,
#secDots h2 {
    position: absolute;
    text-align: center;
    transform: rotate(-90deg);
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2em;
    font-weight: 500;
    color: var(--clr);
}

#hrDots h2 span,
#minDots h2 span,
#secDots h2 span {
    position: absolute;
    font-size: 0.125em;
    font-weight: 500;
    bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#secDots b {
    position: absolute;
    color: #fff;
    display: inline-flex;
    transform: rotate(-90deg) translate(-43px, 18px);
    font-size: 0.5em;
}

#secDots .dot,
#minDots .dot,
#hrDots .dot{
    position: absolute;
    top: 50%;
    width: 5px;
    height: 1.5px;
    background: var(--clr);
    transform-origin: 50px;
}

#secDots .active.dot,
#minDots .active.dot,
#hrDots .active.dot {
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 20px var(--clr),
    0 0 30px var(--clr);
}

#secDots .active.dot ~ .dot,
#minDots .active.dot ~ .dot,
#hrDots .active.dot ~ .dot {
    background: #555;
}

#secDots .dot:nth-child(5n+5),
#minDots .dot:nth-child(5n+5){
    width: 10px;
}

#hrDots .dot {
    width: 10px;
}

#hrDots .dot::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    width: 2px;
    height: 2px;
    border-radius: 2px;
    background: var(--clr);
    box-shadow: 0.75px 4.5px var(--clr),
    2px 9px var(--clr),
    3.5px 13.5px var(--clr);
}

#hrDots .dot.active ~ .dot::before{
    background: #555;
    box-shadow: 0.75px 4.5px #555,
    2px 9px #555,
    3.5px 13.5px #555;
}


#home-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-wrap: wrap-reverse;
    transition: 1.2s;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.introduction {
   display: flex;
   max-width: 100%;
   height: 85vh;
   margin-top: 200px;
   padding: 20px 50px 20px 50px;
   flex-direction: column;
   justify-content: center;
   text-align: left;
   animation: slideUp 1s ease-in;
}

.introduction h2{
    color: #fff;
    font-size: 40px;
    padding: 10px 0;
}

.introduction h3 {
    color: #eee;
    font-size: 28px;
}

.introduction h3 span{
    color: #ff2770;
    font-size: 26px;
    -webkit-text-stroke: 1px #111;
}

.introduction p{
    max-width: 700px;
    color: #fff;
    padding: 10px 0;
    font-size: 1.12rem;
    text-align: justify;
}

.introduction p span{
    font-weight: 600;
    color: rgb(45, 111, 233);
}

.introduction a {
    max-width: 220px;
    border: 2px solid #fff;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 30px 0;
    padding: 10px 15px;
    transition: .5s;
    
}

.introduction a:hover {
    box-shadow: 
        0 0 1px 1px #fff,  
        0 0 10px 10px rgb(0, 208, 255); 
}

.introduction .social-icons ul {
    color: #fff;
    list-style: none;
}

.introduction .social-icons ul li {
    display: inline-flex;
    flex-direction: row;
    margin-right: 10px;
}

.introduction .social-icons ul li a{

    font-size: 22px;
    margin: 0;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
}

.introduction .social-icons ul li a:hover {
    box-shadow: 
        0 0 5px 5px #fff,
        0 0 15px 15px rgb(0, 208, 255);
    background-color: #fff;
    color: #000;

}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin-top: 150px;
    position: relative;
    width: 400px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a), 
    #278cff 0%, #278cff 5%, transparent 5%, 
    transparent 40%, #278cff 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

.box::after {
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    background: url("https://scontent.fcmb2-2.fna.fbcdn.net/v/t39.30808-6/448783513_780526144235538_3544615741731007590_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_eui2=AeGvJvMy_-StatkfjOQn74XrAPxdd3Q_i0AA_F13dD-LQDffzhV2mIwPhXYFNnolTdldbmZGBshJoi4MZ2FahzJX&_nc_ohc=DWL1mupNNG0Q7kNvgG62OOK&_nc_ht=scontent.fcmb2-2.fna&oh=00_AYAy_Hl2qGSIukmBIxGUPG1kvLhUdPppX8qeXPQaZY2Fyw&oe=66824D5F");
    background-repeat: no-repeat;
    background-size: 180%;
    background-position:30%;
    border-radius: 15px;
    border: 8px solid #25252b;
}

.skills-section {
    padding-top: 50px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    gap: 40px; /* Add gap between containers */
}

.Tech-Skill-Container h2 {
    margin-top: 20px;
}
.Tech-Skill-Container,
.professional-Skill-Container {
    width: 100vw;
    margin: 30px; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    padding: 0 20px;
    background-color: transparent; 
    border-radius: 10px; 
}

.skills {
    width: 100%;
    margin-bottom: 20px;
}

.skill-name {
    font-size: 14px;
    font-weight: 700;
    color: #f1f1f1;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill {
    text-align: left;
    padding-bottom: 20px;
}

.skill-bar {
    height: 14px;
    background: #282828;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
}

.skill-per {
    height: 14px;
    background: linear-gradient(135deg, #278cff 0%, #ff2770 100%);
    border-radius: 3px;
    position: relative;
    color: #282828;
}

.skill-per.animate {
    animation: fillBars 2.5s 1;
}


.skill-per:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -15px;
    right: 0;
    transform: translate(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    from  { 
        width: 0;
    } to {
        width: 100%;
    }
}

.professional-Skill-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 20px;
    
}

.professional-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.professional-skills h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.circular-container {
    display: flex;
    padding: 0;
    border-radius: 8px;
    background: transparent;
    flex-direction: column;
    align-items: center;
}

.circular-progress {
    position: relative;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: conic-gradient(#ff2770 0deg, #278cff 90deg, #ff2770 180deg, #278cff 270deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before {
    content: '';
    position: absolute;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    background: url("https://iili.io/dFJwhxe.md.jpg") no-repeat top center;
}

.progress-value {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(135deg, #ff2770, #278cff, #ff2770, #278cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.circular-container .text {
    font-size: 16px;
    padding-top: 10px;
    text-align: center;
    font-weight: 500;
    color: #eee;
}

.projects-section h1 {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    font-size: 30px;
}

.project-section-container {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4);
    align-items: center;
    justify-items: center;
}

a {
    text-decoration: none;
} 


.work-card {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.work-card-box {
    position: relative;
    width: 300px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a), 
    #ff2770 0%, #278cff 5%, transparent 5%, 
    transparent 40%, #ff2770 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px; 
}


.work-card-box:hover{
    transform: translateY(-20px);
    transition: 0.5s;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

.work-card-box::after {
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 8px solid #25252b;
    z-index: -1;
}

.work-card-box h3,h5 {
    padding: 10px;
    color: #fff;
    z-index: 2; 
}


.work-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.work-card a {
    max-width: 150px;
    border: 2px solid #fff;
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    transition: .5s;
    z-index: 2;
}

.work-card a:hover {
    box-shadow: 
        0 0 1px 1px #fff,  
        0 0 10px 10px #278cff; 
}

.contact-section {
    max-width: 1200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.contact-section .content {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.contact-section .content h2 {
    font-size: 2.2em;
    color: #fff;
    font-weight: 500;
}

.contact-section .content p {
    font-size: 1em;
    margin-top: 15px;
    color: #fff;
    font-weight: 300;
}

.contactInfo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    text-align: left;
    margin-top: 20px;
}

.contactInfo-container .contactInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.contactInfo-container .contactInfo .contactInfo-box {
    position: relative;
    padding: 20px;
    display: flex;
    cursor: pointer;
}

.contactInfo-container .contactInfo .contactInfo-box .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, #ff2770 0%, 
    #278cff 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactInfo-container .contactInfo .contactInfo-box .icon::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #ff2770 0%, 
    #278cff 10%, transparent 10%, transparent 50%);
}

.contactInfo-container .contactInfo .contactInfo-box .icon::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #222;
}

.contactInfo-container .contactInfo .contactInfo-box .icon b {
    position: absolute;
    inset: 8px;
    background: linear-gradient(210deg, #ff2770, #278cff, #ff2770, #278cff);
    z-index: 2;
}

.contactInfo-container .contactInfo .contactInfo-box .icon i {
    position: absolute;
    z-index: 3;
    color: #010811;
}

.contactInfo-container .contactInfo .contactInfo-box .text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 1.1em;
    color: #fff;
    font-weight: 300;
}

.contactInfo-container .contactInfo .contactInfo-box .text h3 {
    font-weight: 500;
    color: #278cff;
}

.contactInfo-container .contactInfo .txt {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 30px solid #278cff;
    padding-left: 10px;
    line-height: 1em;
}

.contactInfo-container .contactInfo .sci {
    position: relative;
    display: flex;
    gap: 30px;
    margin:20px 40px;
}

.contactInfo-container .contactInfo .sci li {
    list-style: none;
}

.contactInfo-container .contactInfo .sci li a{
    color: #fff;
    font-size: 1.5em;
    transition: 0.25s;
}

.contactInfo-container .contactInfo .sci li a:hover{
    color: #278cff;
    filter: drop-shadow(0 0 5px #278cff);
}

.contactInfo-container .contactForm {
    position: relative;
    min-width: 450px;
    width: 60%;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, 
    #278cff 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 40px;
}

.contactInfo-container .contactForm::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, 
    #278cff 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.contactInfo-container .contactForm::after {
    content: '';
    position: absolute;
    inset: 5px;
    border: 10px solid #222;
    background: #333;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate {
    0% {
        --a: 0deg;
    }
    100% {
        --a: 360deg;
    }
}

.contactInfo-container .contactForm form {
    position: relative;
    z-index: 3;
}

.contactInfo-container .contactForm form h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}

.contactInfo-container .contactForm form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.contactInfo-container .contactForm form .inputBox input,
.contactInfo-container .contactForm form .inputBox textarea {
    width: 100% !important;
    padding: 5px 0;
    font-size: 1.1em;
    margin: 10px 0;
    border: none;
    background: transparent;
    border-bottom: 2px solid #278cff;
    color: #fff;
    outline: none;
    resize: none;
}

.contactInfo-container .contactForm form .inputBox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
}

.contactInfo-container .contactForm form .inputBox input:focus ~ span,
.contactInfo-container .contactForm form .inputBox textarea:focus ~ span {
    color: #278cff;
    font-size: 0.9em;
    transform: translateY(-24px);
} 

.contactInfo-container .contactForm form .inputBox input:valid ~ span,
.contactInfo-container .contactForm form .inputBox textarea:valid ~ span {
    color: #278cff;
    font-size: 0.9em;
    transform: translateY(-24px);
} 

.contactInfo-container .contactForm form .inputBox input[type="submit"] {
    width: 100%;
    background: #278cff;
    color: #222;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    font-weight: 500;
}

.contactInfo-container .contactForm form .inputBox input[type="submit"]:hover {
    color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    scale: 1.115;
    transition: 0.5s;
}